.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.btn {
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 8px;
}

.active {
  font-weight: bolder;
  color: blue;
}

.box1 {
  border-radius: 10px;
  border: 2px solid black;
  background-color: beige;
  padding: 12px;
}

.contact-li {
  display: inline-flex;
  gap: 23px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
}
